﻿<#+
void WriteDetailRows()
{
	GetJsCodeGenFileComment();
	WriteDetailRow();
}

void WriteDetailRow()
{
	var detailScript = Script as DetailScript;
	
	if(detailScript == null) return;
	
	var population = GetDetailParametersPopulation();
	
	if(population == null) return;
	
	var roleName = detailScript.NavigationProperty.RoleName;
#>
function create<#= roleName #>NavTableRow(rowData) {
    var row = [];

<#+
	if(detailScript.NavigationProperty.IsManyToMany)
	{
#>
    row.push('<input type="checkbox" />');
<#+	
	}

	WriteTableRows(population.DisplaySet, detailScript.NavigationProperty.Entity, detailScript.NavigationProperty.Inverse.RoleName);
#>

    row.push('<span class="btn-opciones">' + Globalize.formatMessage('TextOptions') + '</span>');

    return row;
}
<#+
}

Population GetDetailRowsPopulation()
{
	var detailScript = Script as DetailScript;
	
	if(detailScript == null) return null;
	
	var view = DddModelRoot.UnirDddModel.MvcModelRoot.GetView(Script.Entity.Name, MvcViewType.Edit);
	
	if(view == null) return null;
	
	var detail = GetDetail(view, detailScript.NavigationProperty.RoleName);
	
	if(detail == null) return null;
	
	return detail.Detail as Population;
}
#>