﻿<#
string nameSpace = Properties.Find(p => p.WildCard == "Namespace").Value;

GetCsCodeGenFileComment();
WriteUsings(DomainService, nameSpace);
#>

namespace <#= nameSpace #>.DomainModules.<#= DomainService.Entity.Module #>.Services
{
    public partial interface I<#= DomainService.Name #>
    {	
<#
	foreach(var operation in DomainService.Operations)
	{
		WriteOperation(operation);
	}
#>		
    }
}
<#@ include file="IDomainService.common.tt" #>
<#@ include file="..\GenHelper.tt" #>
<#+
void WriteOperation(Operation operation)
{
	var parameters = operation.Parameters.Select(p => p.Type + " " + p.Name)
										 .Aggregate((a, b) => a + ", " + b);
										 
	WriteOperationDescription(operation);
#>
		<#= operation.ReturnType #> <#= operation.Name #>(<#= parameters #>);
<#+
}

void WriteOperationDescription(Operation operation)
{
	var description = string.IsNullOrEmpty(operation.Description) ? operation.Name : operation.Description;
	
	IEnumerable<string> descriptionParts = SplitWords(description, 100);

#>
		/// <summary>
<#+
	foreach(var part in descriptionParts)
	{
#>
		/// <#= part #>
<#+
	}
#>
		/// </summary>
<#+
	foreach(var parameter in operation.Parameters)
	{
#>
		/// <param name="<#= parameter.Name #>"><#= parameter.Alias #></param>
<#+
	}
	
	if(!"void".Equals(operation.ReturnType))
	{
#>
		/// <returns><#= operation.ReturnType #></returns>
<#+
	}
}
#>